.gray-background{
    -fx-background-color: #636566;
    }

.radius{
    -fx-background-radius: 100px;
    }
.info-pane{
    -fx-background-color: #76b3c6;
}
.info-pane-btn{
     -fx-background-color: transparent;
}
.info-pane-btn:hover{
      -fx-border-width: 0px 0px 0px 3px;
      -fx-border-color: transparent;
      -fx-border-style: solid;
      -fx-background-color: #47a5bf;
}
.search-box{
      -fx-background-color: transparent;
       -fx-border-color: #b3b4b9;
       -fx-border-width: 0px 0px 2px 0px;

}
.name-label:hover{
      // -fx-background-color: #609cbf;
       // -fx-background-radius: 100px;
        -fx-font-size: 25px;
}
.scroll-pane .scroll-bar:vertical {
    -fx-opacity: 0;

}
.scroll-pane2{
    -fx-background-color: transparent;

}
.icon:hover{
     -fx-fill:#5bb7d3
}



